{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "semi": "off",
        "@typescript-eslint/semi": [
            "warn"
        ]
    }
}